<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
EMP_DETAIL
<form action="emp_del_act" method="post" name="frm">
	<input type="hidden" name="e_id" value="{{vo.e_id}}"/>
</form>
<table border="1" style="border-collapse: collapse;width : 150px; text-align: center;" >
	<tr>
		<td>사번 </td>
		<td>{{vo.e_id}}</td>
	</tr>
	<tr>
		<td>이름</td>
		<td>{{vo.e_name}}</td>
	</tr>
	<tr>
		<td>성별</td>
		<td>{{vo.sex}}</td>
	</tr>
	<tr>
		<td>주소</td>
		<td>{{vo.addr}}</td>
	</tr>
	<tr>
		<td colspan="2">
		<input type="button" value="수정" onclick="fn_mod()">
		<input type="button" value="삭제" onclick="fn_del_act()">
		</td>
	</tr>
</table>
</body>
	<script type="text/javascript">
		function fn_mod(){
			location.href="emp_mod?e_id={{vo.e_id}}"
		}
		function fn_del_act(){
			
			document.frm.submit()
			
		}
	</script>
</html>